@font-face {
    font-family: 'Neue Haas Black';
    src: url('./fonts/NH-Black.woff') format('woff'),
        url('./fonts/NH-Black.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mattone-150';
    src: url('./fonts/Mattone-150.woff') format('woff'),
        url('./fonts/Mattone-150.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root{
    --grey: #D8D8D8;
}

button{
    cursor: pointer;
}

html{
    font-size: 10px;
    font-family: 'Mattone-150', 'sans-serif';
    box-sizing: border-box;
}

body {
    background-image: url(./assets/holographic.png);
    background-size: cover;
    padding: 1rem;
    margin: 0;
    font-size: 1.6rem;
}

header{
    background-color: rgb(20, 20, 20);
    margin: -1rem;
    padding: 3rem;
}

img {
    width: auto;
    max-height: 250px;
    margin: 1rem;
}

h1{
    font-size: 20rem;
    text-transform: uppercase;
    color: white;
    line-height: 1;
}

.subtitle{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

main {
    border-top: 10px dashed white;
}

.container{
    margin-left: 40rem;
    margin-right: 40rem;
}

.filter-show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-hide {
    display: none;
}

.content-container{
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-gap: 5rem;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.airtable-item{
    padding: 2rem;
    border: solid rgb(39, 39, 39) 3px;
    border-radius: 4px 4px 35px 35px;
    background-color: rgba(255, 255, 255, 0.384);    
}

.button-wrapper{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.button{
    padding: 1rem;
    border: solid rgb(39, 39, 39) 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.384);

}

.button:hover{
    color: white;
}

.filters-container{
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-size: 2rem;
}

@media screen and (max-width: 850px) {
    .content-container{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-gap: 5rem;
    }

    .container{
        margin-left: 10rem;
        margin-right: 10rem;
    }    

    .filters-container{
    flex-direction: column;
    text-align: center;
    gap: 10px;
    }
    
    .sort-container .subtitle{
    text-align: left;
    }
}

